:root{
  --portflioColor:black;
  font-size: 16px;
  
}
*{
  box-sizing: border-box;
}
body {
  
  letter-spacing: 2px;
  margin: 0px; 
  
}
nav{
  position: sticky;
}
ul {
  
  padding: 0px;
  margin: 0px; 
  position: fixed;
  display: flex; 
  width: 100%;
  background-color: rgb(167, 60, 42);
  justify-content: right;
  text-align: center;
}
nav li {
  padding-right: 20px;
  list-style: none;
  font-weight:bold ;
  font-size: 1.3em;
}
a:hover{
  color: red;
  transition: 1s;
}
a {
  color: var(--portflioColor);
}
header {
  text-align: center;
  background-color: rgb(180, 154, 105);
  padding-top: 150px;
  padding-bottom: 10px;
  width: 100%;
  height: 50vh;
}
header p {
  font-size: 30px;
  font-weight: 200;
  font-style: italic;
  color: red;
}
section {
  overflow: hidden;
  padding: 20px;
  margin: auto;
  background-color: bisque; 
}
section div {
  border: 1px solid black;
  border-radius: 25px ;
  padding-top: 20px;
  padding-bottom: 20px ;
  float:left;
  width: 30.67% ;
  margin-left: 2%;
  list-style: none;
  background-color: #eee;
  text-align: center;
  margin-bottom: 15px;
  height: 350px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.411);
}
section div:hover {
  background-color: rgba(230, 57, 57, 0.459);
  transition: 1.5s;
}
section img, a {
  display: block;
  width: 90%;
  padding: 5px;
  margin: auto;
  text-decoration: none;
  border-radius: 25px;
  
  
}
footer  {
  padding: 1px;
  background: gray;
  border-top: 4px solid red;
  text-align: center;

}
.projects {
  margin-top: 0px;
  background-color: aquamarine;
  border: 1px solid var(--portflioColor);
  text-align: center;
}

