:root{
  --one:rgba(0, 0, 0, 0.411);
  --tow:rgb(167, 60, 42);
  --thre:rgb(85, 84, 84);
  font-size: 16px;  
  
}
*{
  box-sizing: border-box;
  color: white ;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(2, 2, 2);
  text-decoration: none;
  letter-spacing: 2px;
  margin: 0px; 
}

ul {
  list-style: none;
  padding: 12px;
  margin: 0px; 
  position: fixed;
  display: flex; 
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;
  background-color: var(--tow);
  box-shadow: 0 0 10px 0 var(--one);
}
nav li {
  
  padding-right: 20px;
  list-style: none;
  font-weight:bold ;
  font-size: 1.3em;
  
  
}
a:hover{
  color: var(--tow);
  transition: 1s;
}
section p {
  text-align: center;
  background-color: var(--thre);
  padding: 20px;
  bottom: 0;
  margin-bottom: 0px;
  border-radius: 20px ;
  border-top-left-radius: 0px ;
  border-top-right-radius: 0px;
  
  
}
header {
  text-align: center;
  background-color: rgb(180, 154, 105);
  padding-top: 150px;
  padding-bottom: 10px;
  width: 100%;
  height: 50vh;
}
header p {
  font-size: 30px;
  font-weight: 200;
  font-style: italic;
  color:var(--tow);
}
section {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: center;
  list-style: none;
  padding: 20px;
  margin: auto;
  background-color: bisque; 
  box-shadow: 0 0 10px 0 var(--one);
  
}
section div { 
  padding-top: 10px;
  padding-bottom: 0px ;
  width: 30.67%;
  margin-left: 2%;
  background-color:transparent;
  margin-bottom: 50px;
  box-shadow: 0 0 10px 0 var(--one);
  border-radius: 20px ;
  -webkit-border-radius: 20px ;
  -moz-border-radius: 20px ;
  -ms-border-radius: 20px ;
  -o-border-radius: 20px ;
}
section div:hover {
  background-color: var(--tow);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
section img { 
  width: 100%;
  padding: 10px;
  max-height: 250px;
  border-radius: 20px ;
  -webkit-border-radius: 20px ;
  -moz-border-radius: 20px ;
  -ms-border-radius: 20px ;
  -o-border-radius: 20px ;
}
footer  {
  padding: 10px;
  background: var(--thre);
  border-top: 4px solid var(--tow);
  text-align: center;
  box-shadow: 0 0 10px 0 var(--one);
}
.projects {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: rgb(177, 142, 46);
  box-shadow: 0 0 10px 0 var(--one); 
}

