nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: red;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
nav li {
  display: inline;
  padding: 30px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
  
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
header p {
  font-size: 30px;
  font-weight: 200;
  font-style: italic;
  color: red;
}
section img {
  height: 150%;
  width: 40%;
  object-fit: cover;
  
}
section {
  display: table;
  text-align: center;
  background: blue;
}

section h2 {
  max-width: 640px;
  margin: 0 auto 100px auto;
  border-bottom: 2px solid white;
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2px;
  background: gray;
  border-top: 4px solid red;
  bottom: 0px;

}
