body {
  
  letter-spacing: 2px;
  margin: 0px; 
  
}
ul {
  overflow: hidden;
  padding: 0px;
  margin: 0px; 
}
nav li {
  display: block;
  padding-top: 10px;
  padding-bottom: 15px ;
  float:left;
  width: 30.67% ;
  margin-left: 2%;
  list-style: none;
  text-align: center;
  font-weight:bold ;
  font-size: 1.3em;
  color: black;
}

header {
  text-align: center;
  background-color: rgb(180, 154, 105);
  padding-top: 150px;
  padding-bottom: 10px;
  width: 100%;
  height: 50vh;
}
header p {
  font-size: 30px;
  font-weight: 200;
  font-style: italic;
  color: red;
}
section {
  overflow: hidden;
  padding: 20px;
  margin: auto;
  background-color: bisque; 
}
section div {
  border: 1px solid black;
  border-radius: 25px ;
  padding-top: 20px;
  padding-bottom: 20px ;
  float:left;
  width: 30.67% ;
  margin-left: 2%;
  list-style: none;
  background-color: #eee;
  text-align: center;
  margin-bottom: 15px;
}
section img, a {
  display: block;
  width: 85%;
  padding: 10px;
  margin: auto;
  text-decoration: none;
  border-radius: 25px;
}
footer  {
  padding: 1px;
  background: gray;
  border-top: 4px solid red;
  text-align: center;

}
.projects {
  margin-top: 0px;
  background-color: aquamarine;
  border: 1px solid black;
  text-align: center;
}

